@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SIFISCON</h1>
    <p class="lead">Sistema de Fiscalização de Serviços ao Consumidor</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Fornecedores</h2>
        <p>Cadastrar Fornecedores.</p>
        <p><a class="btn btn-default" href="~/Views/Fornecedores/Create.cshtml">Cadastrar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Processos</h2>
        <p>Criar  Processos.</p>
        <p><a class="btn btn-default" href="~/Views/Processos/Index.cshtml">Criar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Autos de Infrações</h2>
        <p>Criar Autos de Infrações </p>
        <p><a class="btn btn-default" href="~/Views/AutoDeInfracao/Index.cshtml">Criar &raquo;</a></p>
    </div>
</div>