@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SIFISCON</h1>
    <p class="lead">Sistema de Fiscalização de Serviços ao Consumidor</p>
    <p><a href="http://graduacao.infnet.edu.br/analise-desenvolvimento-de-sistemas" class="btn btn-primary btn-lg">AV2 GADSM Instituto Infnet &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Fornecedores</h2>
        <p>Cadastre Fornecedores aqui.</p>
        <p><a class="btn btn-default" @Html.ActionLink("CADASTRAR FORNECEDOR", "Index", "Fornecedores") &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Processos</h2>
        <p>Abra seus Processos aqui.</p>
        <p><a class="btn btn-default" @Html.ActionLink("ABRIR PROCESSOS", "Index", "Enderecos") &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Autos de Infrações</h2>
        <p>Crie os Autos de Infrações aqui </p>
        <p><a class="btn btn-default" @Html.ActionLink("CRIAR AUTOS DE INFRAÇÃO", "Index", "Autodeinfracao") &raquo;</a></p>
    </div>
</div>